# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
*.log

# Claude Code
.claude/settings.local.json
memory/

# Project specific
config/*.yml
archive/*
Toggl_time_entries**.csv
